# Node modules
node_modules

public/OS
public/DOCS
public/COMPROVANTES
public/QR

yarn.lock
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite
