<h2>Olá,</h2>
<h4>Seu código para preenchimento do formulário de perfil é {{ Codigo }}</h4>

<p>Acesse o <a href='{{ FRONTEND }}/formulario'>SLAplic Web</a> para usá-lo</p>

<p>Esse é um email automático, favor não responder.</p>