<h2>Olá,</h2>
<h4>Seu código para preenchimento do formulário de perfil é {{ Codigo }}</h4>

<p>Acesse o <a href='{{ FRONTEND }}/formulario'>SLAplic Web</a> para usá-lo</p>

<p>Se possivel, tenha a disposição seu CPF e RG digitalizados para nos enviar e se for o caso tambem o do seu parceiro(a)/sócio(a), bem como comprovante de capital declarado e guia de recolhimento de IR</p>

<p>Esse é um email automático, favor não responder.</p>