<h2>Olá,</h2>
<h4>foi realizada uma solicitação de recuperação de senha para a filial {{ checkUser[0].M0_CODFIL }}.</h4>

<p>Caso você não tenha solicitado sua senha, por favor desconsidere este email.</p>

<p>
    Senha do SLAplic: <strong>{{ password }}</strong>
</p>

<p>Para redefinir sua senha, faça login no SLAplic e acesse a pagina "Meu Cadastro"</p>

<p>Esse é um email automático, favor não responder.</p>