<h2>Parabéns,</h2>
<h4>Você está mais perto de se tornar um franqueado Pilão Professional!</h4>

<p>Olá {{ Destinatario }}.</p>

<p>
    Confirmamos o recebimento do seu questionário de perfil preenchido e os documentos solicitados.
</p>

<p>
    As informações foram encaminhadas para análise do nosso comitê, o prazo para o retorno é de até 5 dias.
</p>

<p>
    Aproveito a oportunidade para encaminhar a nossa COF para leitura.
</p>

<p>Esse é um email automático, favor não responder.</p>