<h2>Saudações,</h2>
<h4>Um interessado na franquia Pilao Professional preencheu o formulário online de perfil.</h4>

<p>Olá {{ Consultor }}.</p>

<p>
    Confirmamos o recebimento de um questionário de perfil por <strong>{{ INTERESSADO }}</strong>.
</p>

<p>
    Estou anexando uma cópia das respostas em PDF neste email, mas tambem estão disponiveis no <a href='{{ Frontend }}'>SLAplic Web</a>.
</p>

<p>Esse é um email automático, favor não responder.</p>