<h2>Olá,</h2>
<h4>uma solicitação acaba de ser cancelada.</h4>

<p>Em anexo você encontrará uma copia em PDF desta solicitação.</p>

<p>
    Filial do requisitante: <strong>{{ verified.user_code }}</strong>
</p>

<p>Numero da OS: <strong>{{ ID }}</strong></p>

<p>Esse é um email automático, favor não responder.</p>