<label> Saudações,</label>
<label>
  Manter o ERP (adquirido da FRANQUEADORA ou do Fornecedor Homologado) constantemente atualizado e o sistema de telemetria de todas as máquinas ativo, além de indicar para a FRANQUEADORA, no 1º (primeiro) dia útil dos meses de fevereiro, abril, junho, agosto, outubro e dezembro, ou quando solicitado pela FRANQUEADORA, a exata localização das MÁQUINAS DA FRANQUIA é um dos deveres do FRANQUEADO acordado na contratação da FRANQUIA. 
</label>
<label>
  Não fazê-lo, além de constituir infração contratual passível de multa, a FRANQUEADA deverá arcar com o valor da visita técnica ou de auditoria quando esta ocorra em local onde a MÁQUINA não seja encontrada.
</label>
<br>
<label>Esse é um email automático, favor não responder.</label>