<label>Bom dia,</label><br><label></label><br><label>Hoje(15/03/2022) realizaremos a reunião mensal da franqueadora e franqueados às 16:30 no horário de Brasília.</label><br><label></label><br><label>Para participar basta se juntar a reunião no horário em questão através do aplicativo Microsoft Teams.</label><br><label></label><br><label>Esse é um email automático, favor não responder.</label>